.separate{
    background-image:url('background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-content: center;
    padding: 100px;
}
p{
    font-size: 25px;
    border-width: 5px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    


}
h1{
   font-size: 50px;
}

.myimage{
    margin-right: 200px; 
    float: left;
    margin-left: 50px;
}


 #about {
    padding: 120px 0;
    background-color: blue;
}

 #about h2{

    font-size: 40px;
    color: blueviolet;
 }

 .box1{
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px gray;
    width: 25%;
    float: left;
 }

 .clear {
    clear: both;
}

.center_text
{
    text-align: center;
    font-family: 'pacifico';
    font-size: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.big_center {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: darkolivegreen;
}

.bluebg{
    background-color: rgb(202, 255, 248, 0.4);
    padding: 50px;
}

 .box2{
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 50px;
    margin: 20px;
    background-color: white;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
 }

 .big_center2 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(10, 41, 69);
}

.darkblue{
    color: rgb(10, 41, 69);
    font-weight: bold;
    text-align: right;
}

.submitbutton{
    background-color: rgb(10, 41, 69);
    color: #ffffff;
    padding-left: 80px;
    padding-right: 80px;
}

.darkbluebg{
    background-color: rgb(10, 41, 69);
    padding: 50px;
}

.footertext{
    text-align: center;
}